<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="cn.edu.nuaa.aadl2.generator.contribution1">
         <menu
               label="AADL代码生成"
               path="additions"
               id="cn.edu.nuaa.aadl2.generator.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="生成代码 C"
               class="cn.edu.nuaa.aadl2.generator.actions.GeneratorActionC"
               menubarPath="cn.edu.nuaa.aadl2.generator.menu1/group1"
               enablesFor="1"
               id="cn.edu.nuaa.aadl2.generator.newAction">
         </action>
         <action
               class="cn.edu.nuaa.aadl2.generator.actions.GeneratorActionAda"
               id="cn.edu.nuaa.aadl2.generator.action.genAda"
               label="生成代码 Ada"
               menubarPath="cn.edu.nuaa.aadl2.generator.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   
</plugin>
